body    {
    background: url(images/roses.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}
main    {
    margin: 100px;
}
header  {
    border-bottom: 5px ridge #000000;
    width: 75%;
    margin: 100px auto;
    font-weight: 700i;
    box-shadow: 0px 15px 10px -15px #fff; 
}
h1  {
    color: #000000;
    font-family: 'Inconsolata', monospace;
    font-size: 6em;
    text-align: center;
    text-shadow: 1px 1px 4px #fff;
    
}
header h1   {
    text-transform: uppercase;
}
main h1     {
    font-size: 3em;
    margin: auto 300px;
    line-height: 1.5em;
}
p   {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #fff;
    margin: 25px;
    text-shadow: 1px 1px 3px black;
}
img {
    display: block;
    margin: 50px auto;
    /* opacity: .8; */
}
div {
    text-align: center;
}
a   {
    display: inline-block;
    font-size: 1.6em;
    color: #fff;
    padding: 20px;
    margin: 20px 10px;
    text-decoration: none;
    border: 3px solid #000;
    text-shadow: 1px 1px 4px #000000;
    transition: ease .3s;
    padding: 1em 1.5em;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    1px 1px 3px 0px rgba(255, 255, 255, 0.75);
    box-shadow:         1px 1px 3px 0px rgba(255, 255, 255, 0.75);
}
a:hover {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(30deg, rgb(0, 0, 0) 10%, rgb(139, 140, 141) 80%);
    background: -webkit-linear-gradient(30deg, rgb(0, 0, 0) 10%, rgb(139, 140, 141) 80%);
    background: -o-linear-gradient(30deg, rgb(0, 0, 0) 10%, rgb(139, 140, 141) 80%);
    background: -ms-linear-gradient(30deg, rgb(0, 0, 0) 10%, rgb(139, 140, 141) 80%);
    background: linear-gradient(120deg, rgb(0, 0, 0) 10%, rgb(139, 140, 141) 80%);
}




