body    {
    background: url(images/smoke-69124_1280.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}
main    {
    margin: 100px;
}
header  {
    border-bottom: 5px ridge lightgrey;
    width: 75%;
    margin: 100px auto;
}
h1  {
    color: #8b0000;
    /* color: #870100; */
    font-family: 'Inconsolata', monospace;
    font-size: 6em;
    text-align: center;
    text-shadow: 10px 10px 15px black;
    /* text-shadow: 10px 10px 15px black, .5px .5px 3px gray;  */
    
}
header h1   {
    text-transform: uppercase;
}
hr  {
    height: 2px;
}
main h1     {
    font-size: 3em;
    margin: auto 300px;
    line-height: 1.5em;
}
p   {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #fff;
    margin: 25px;
    text-shadow: 1px 1px 3px black;
}
img {
    display: block;
    margin: 50px auto;
    /* border: 4px solid #8b0000; */
    opacity: .6;
}



